*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject

MDK-ARM/RTE/
Templates/
Examples/
EIDE/
Drivers/
.vscode/

!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex